.wishContainer {
  position: relative;
  cursor: pointer;
  align-self: flex-end;
}

.wishQuantity {
  background-color: #0dcaf0;
  height: 22px;
  width: 22px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid;
  position: absolute;
  top: -16px;
  right: -5px;
  font-size: 12px;

}
.animatedwish{
  animation-name: quantityanimation;
  animation-duration: 300ms;
animation-timing-function: ease-out
}
@keyframes quantityanimation {
  0%   { transform: scale(1); }
  25%  { transform: scale(0.8); }
  50%  { transform: scale(1.1); }
  75%  { transform: scale(1.5); }
  100% { transform: scale(1); }
}
